mixin fullscreen-slide--case(title_1, title_2, title_3, title_4, img_1, img_2, img_3, img_4)
    .slide-inner.b-fullscreen-slide__item.b-fullscreen-slide__item--case
        a.b-fullscreen-slide__bg.js-ajax-case(href='' data-load-path='page/case-page_1.html')
            .b-fullscreen-slide__title-case
                span    #{title_1}
            img(src=img_1)
        a.b-fullscreen-slide__bg.js-ajax-case(href='' data-load-path='page/case-page_3.html')
            .b-fullscreen-slide__title-case
                span    #{title_2}
            img(src=img_2)
        a.b-fullscreen-slide__bg.js-ajax-case(href='' data-load-path='page/case-page_3.html')
            .b-fullscreen-slide__title-case
                span    #{title_3}
            img(src=img_3)
        a.b-fullscreen-slide__bg.js-ajax-case(href='' data-load-path='page/case-page_4.html')
            .b-fullscreen-slide__title-case
                span    #{title_4}
            img(src=img_4)
