mixin news--mini(url, src, title, data, time)
        .news.news--mini
            a(href='').news__img
                img(src=src alt='')
            .news__content
                h3
                    a(href='') #{title}
                .news__info
                    a(href='')
                        time #{data}
                            span #{time}

mixin news--mini-full(url, src, title, label, data, time, comments)
    .news.news--mini-full
        a(href='').news__img
            img(src=src alt='')
        .news__content
            h3
                a(href='') #{title}
            .news__info
                a(href='').news__label.label #{label}
                span
                a(href='')
                    time #{data}
                        span #{time}
                a(href='').news__comments.comments #{comments}

