extends _layout_with_lg_header
block title
    title Отзывы
block content

    -var icon = './images/reviews/header_services@2x.jpg'
    -var video = './images/reviews/reviews_1.jpg'


    .b-main
        .b-right-form.js-form-transform
            .b-right-form__label.js-label-form Оставить свой отзыв
            .b-right-form__wrap
                .b-right-form__title Оставить отзыв
                .b-right-form__close.js-close-form
                form.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='text' placeholder='Возраст' required)
                        .b-form__item
                            input(type='text' placeholder='Тип операции' required)
                        .b-form__item
                            textarea(placeholder='Описание' required)
                    .b-form__submit
                        button Оставить отзыв
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта

        #scroll-more.b-main__content.b-main__content--reviews
            .container
                h2 Отзывы
                h3 Эндокринная хирургия
                .reviews
                    .reviews__filter
                        h4 Выберите категории отзывов:
                        .reviews__filter-wrap
                            .filter-item.active Голова и шея
                            .filter-item Щитовидка
                            .filter-item Грудь
                            .filter-item Надпочечники
                            .filter-item Поджелудочная железа
                    .reviews__filter.reviews__filter--type
                        h4 Выберите вид отзывов:
                        .reviews__filter-wrap
                            .filter-item.active Все отзывы
                            .filter-item Отзывы с видео
                            .filter-item Отзывы с фото
                    .reviews__content
                        .reviews-item
                            .reviews-item__header
                                img(src=icon alt='')
                                p
                                    span Алеся Ш.
                                    span 23 года
                                time 20.04.2018
                            .reviews-item__body
                                h3 Пластика верхних век
                                p Хочу выразить благодарность пластическому хирургу Шаробаро Валентину Ильичуза внимание, тактичность и заботу. Я думала, что в 68 лет такую операцию делать поздно. Но доктор показал мне фотографии и убедил, что это не предел. Когда я пришла на операцию, страх отсутствовал. У меня было впечатление, что я знаю его давно и могу довериться. Операция прошла отлично. Я довольна результатом. Друзья и близкие даже не заметили, что я сделала операцию, сказали, что хорошо выглядишь.
                                a(href='https://www.youtube.com/watch?v=wQAMjVtAqCI').reviews-item__video.js-popup-youtube
                                    .reviews-item__video-play
                                    img(src=video alt='')
                                .reviews-item__gallery
                                    a(href=video).reviews-item__gallery-item.js-zoom-img
                                        img(src=video)
                                    a(href=video).reviews-item__gallery-item.js-zoom-img
                                        img(src=video)
                                    a(href=video).reviews-item__gallery-item.js-zoom-img
                                        img(src=video)
                        .reviews-item
                            .reviews-item__header
                                img(src=icon alt='')
                                p
                                    span Алеся Ш.
                                    span 23 года
                                time 20.04.2018
                            .reviews-item__body
                                h3 Пластика верхних век
                                p Хочу выразить благодарность пластическому хирургу Шаробаро Валентину Ильичуза внимание, тактичность и заботу. Я думала, что в 68 лет такую операцию делать поздно. Но доктор показал мне фотографии и убедил, что это не предел. Когда я пришла на операцию, страх отсутствовал. У меня было впечатление, что я знаю его давно и могу довериться. Операция прошла отлично. Я довольна результатом. Друзья и близкие даже не заметили, что я сделала операцию, сказали, что хорошо выглядишь.
                                p Хочу выразить благодарность всем, кто принимал участие в операции, а также администратору Ксении, которая интересовалась моим здоровьем. Приятно!Светлана.

                        .reviews-item
                            .reviews-item__header
                                img(src=icon alt='')
                                p
                                    span Алеся Ш.
                                    span 23 года
                                time 20.04.2018
                            .reviews-item__body
                                h3 Пластика верхних век
                                a(href='https://www.youtube.com/watch?v=wQAMjVtAqCI').reviews-item__video.js-popup-youtube
                                    .reviews-item__video-play
                                    img(src=video alt='')



                    .reviews__btn Показать еще

                .b-main__request
                    h2 Отправить заявку
                        br
                        | на бесплатный прием
                        br
                        | прямо сейчас

                    .tablets.tablets--two-up
                    .tablets.tablets--one
                    .tablets.tablets--three
                    .tablets.tablets--two-down

                    form.b-form
                        .b-form__content
                            .b-form__item
                                input(type='text' placeholder='Ваше имя' required)
                            .b-form__item
                                input(type='tel' placeholder='Ваш телефон' required)
                            .b-form__item
                                input(type='text' placeholder='Вид операции' required)
                        p Нажимая на кнопку "Отправить", вы принимаете условия
                            a(href='')  Cоглашения об использовании сайта
                        .b-form__submit
                            button Отправить















