extends _layout_with_black_bg
block title
    title Клиника
block content

    -var sliderFullpage = './images/main/slider/endocriniya_slider.png'
    -var person = './images/endocrina_main/endocrina_doctor.png'
    -var vidoe_docor = './images/endocrina_doctor/doctor_video.jpg'


    -var clinic_1 = './images/clinic/666_0.jpg'
    -var clinic_2 = './images/clinic/original_5493fb52862a2121268b4573_5501a8a9e6845.jpg'
    -var clinic_3 = './images/clinic/original_5493fb52862a2121268b4573_5501a8ab5833c.jpg'
    -var clinic_4 = './images/clinic/original_5493fb52862a2121268b4573_5501a907930d7.jpg'

    -var clinic_1video = './images/clinic/clinic_video_1.jpg'
    -var clinic_2video = './images/clinic/clinic_video_2.jpg'

    -var palata_1 = './images/clinic/palata_1.jpg'
    -var palata_2 = './images/clinic/palata_2.jpg'
    -var palata_3 = './images/clinic/palata_3.jpg'
    -var palata_4 = './images/clinic/palata_4.jpg'


    .b-main
        .b-left-form
            .b-left-form__label Запись на бесплатный прием
            .b-left-form__wrap
                .b-left-form__title Запись на бесплатный прием
                .b-left-form__close
                form.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='tel' placeholder='Ваш телефон' required)
                    .b-form__submit
                        button Записаться на прием
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта

        .fullpage-top.fullpage-top--clinic
            .fullpage-top__img
                video#clinic-video(loop autoplay src='./video/Arc de Triomphe in Paris.mp4')

            .container
                .fullpage-top__content
                    .fullpage-top__center
                        .fullpage-top__control
                        .fullpage-top__type
                            .fullpage-top__type-icon.icon-girl
                            .fullpage-top__type-text Эндокринная хирургия
                        .fullpage-top__title Федеральный научно-клинический центр
                        .fullpage-top__sub-title Специализированных видов медицинских технологий ФГБУ ФНКЦ ФМБА России

        #scroll-more.b-main__content.b-main__content--clinic
            .container
                h2 О клинике
                .b-main__container
                    .share
                        .share__title Поделиться в соцсетях
                        .share__content
                            .share__item.share__item--fb
                            .share__item.share__item--vk
                            .share__item.share__item--ok
                    .b-main__two-paragraphs
                        p В нашем Центре, функционирующем на базе многопрофильного стационара ФНКЦ, работают хирурги, сертифицированные по эндокринной хирургии, УЗ-диагностике, онкологии и маммологии. Это обеспечивает мультидисциплинарный подход к лечению больных с различных заболеваний щитовидной, околощитовидной, вилочковой и поджелудочной желёз и надпочечников. Кроме того, Центр тесно связан с работой отделений терапии (соединенного в 2016г с отделением эндокринологии) и онкологии, где практикуют специалисты, имеющие большой опыт курации больных этого профиля, решающие проблемы периоперационного периода.
                        p Кроме того, Центр тесно связан с работой отделений терапии (соединенного в 2016г с отделением эндокринологии) и онкологии, где практикуют специалисты, имеющие большой опыт курации больных этого профиля, решающие проблемы периоперационного периода.


                h2.title--clinic Почему пациенты выбирают государственную клиническую базу?
                .b-main__education
                    .b-main__education-wrap.js-education-slider
                        .card-education
                            .card-education__wrap
                                .card-education__title Профессионализм
                                .card-education__desc в команде 20 докторов наук, 11 профессоров, 73 врача высшей категории
                                .card-education__number 01
                        .card-education
                            .card-education__wrap
                                .card-education__title Надежность
                                .card-education__desc свое здоровье нам доверяют спортсмены олимпийской сборной и работники космической отрасли
                                .card-education__number 02
                        .card-education
                            .card-education__wrap
                                .card-education__title Инновационность
                                .card-education__desc передовые методики и технологии, новейшие операционные
                                .card-education__number 03
                        .card-education
                            .card-education__wrap
                                .card-education__title Доступность
                                .card-education__desc лояльные цены и отменное качество
                                .card-education__number 04
                        .card-education
                            .card-education__wrap
                                .card-education__title Профессионализм
                                .card-education__desc в команде 20 докторов наук, 11 профессоров, 73 врача высшей категории
                                .card-education__number 05
                        .card-education
                            .card-education__wrap
                                .card-education__title Надежность
                                .card-education__desc свое здоровье нам доверяют спортсмены олимпийской сборной и работники космической отрасли
                                .card-education__number 06
                        .card-education
                            .card-education__wrap
                                .card-education__title Инновационность
                                .card-education__desc передовые методики и технологии, новейшие операционные
                                .card-education__number 07





                h2 Эндокринный центр
                    br
                    | хирургии и маммологии в ФНКЦ
                .clinic-slider.clinic-slider--nav
                    .clinic-slider__wrap
                        .clinic-slider__left
                            .clinic-slider__slider
                                .clinic-slider__slider-wrap.js-clinic-slider
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_2 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_3 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_4 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')


                                .clinic-slider__slider-nav.js-clinic-slider-nav
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_2 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_3 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_4 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')

                        .clinic-slider__right
                            .clinic-slider__text
                                p Сотрудники Центра, одновременно являющимися преподавателями кафедры эндоскопической хирургии МГМСУ (профессор, сотрудники кафедры), применяют самые современные методики хирургического лечения, интраоперационного контроля функции возвратных нервов и околощитовидных желёз.
                                p Это обеспечивает максимальное снижение уровня специфических осложнений. Мы активно внедряем в практику новейшие, но уже достаточно опробованные методы лечения (операции с эндоскопическим контролем и из минидоступа; РЧА и лазерную аблацию доброкачественных узловых новообразований щитовидной и молочной желез под УЗ-наведением.

                                .clinic-slider__hidden
                                    p Это обеспечивает максимальное снижение уровня специфических осложнений. Мы активно внедряем в практику новейшие, но уже достаточно опробованные методы лечения (операции с эндоскопическим контролем и из минидоступа; РЧА и лазерную аблацию доброкачественных узловых новообразований щитовидной и молочной желез под УЗ-наведением.

                            .clinic-slider__more Читать полностью

                h2 Оборудование
                    br
                    | операционной палаты
                .clinic-slider.clinic-slider--reverse
                    .clinic-slider__wrap
                        .clinic-slider__left
                            .clinic-slider__text
                                p Клиника пластической хирургии ФГБУ ФНКЦ ФМБА России оснащена современным лечебным и диагностическим оборудованием, которое позволяет выполнять большой спектр хирургических вмешательств. Клиника ориентирована на выполнение высокотехнологичных операций с применением современного анестезиологического, хирургического, реабилитационного оборудования. Клиника оснащена всем необходимым современным оборудованием для оказания экстренной помощи при любых критических ситуациях.
                                .clinic-slider__hidden
                                    p Это обеспечивает максимальное снижение уровня специфических осложнений. Мы активно внедряем в практику новейшие, но уже достаточно опробованные методы лечения (операции с эндоскопическим контролем и из минидоступа; РЧА и лазерную аблацию доброкачественных узловых новообразований щитовидной и молочной желез под УЗ-наведением.

                            .clinic-slider__more Читать полностью
                        .clinic-slider__right
                            .clinic-slider__slider
                                .clinic-slider__slider-wrap.js-clinic-slider
                                    .clinic-slider__item
                                        img(src=clinic_1video alt='')
                                    .clinic-slider__item
                                        img(src=clinic_2video alt='')
                                    .clinic-slider__item
                                        img(src=clinic_1 alt='')


                h2 Восстановительном
                    br
                    | периоде в ФНКЦ
                .clinic-slider
                    .clinic-slider__wrap
                        .clinic-slider__left
                            .clinic-slider__slider-wrap.js-clinic-slider
                                .clinic-slider__item
                                    img(src=clinic_2video alt='')
                                .clinic-slider__item
                                    img(src=clinic_1 alt='')

                        .clinic-slider__right
                            .clinic-slider__text
                                p Мы широко консультируем в КДЦ на базе ФНКЦ и поликлиниках города Москвы, ведем запись через интернет, при необходимости готовим наших больных к хирургическим вмешательствам и оперируем при следующих заболеваниях: диффузный токсический зоб; узловой токсический, эутиреоидный зоб; рак щитовидной железы; гиперпаратиреоз; рак, кисты и опухоли надпочечников и поджелудочной железы (лапароскопические операции); множественная эндокринная неоплазия (одновременно существующие или появляющиеся последовательно опухоли щитовидной, поджелудочной железы, околощитовидных желёз, надпочечников); заболевания молочных желез, грудных желез у мужчин (внедряются операции с одновременным протезированием молочных желез при мастэктомии);
                                .clinic-slider__hidden
                                    p Это обеспечивает максимальное снижение уровня специфических осложнений. Мы активно внедряем в практику новейшие, но уже достаточно опробованные методы лечения (операции с эндоскопическим контролем и из минидоступа; РЧА и лазерную аблацию доброкачественных узловых новообразований щитовидной и молочной желез под УЗ-наведением.

                            .clinic-slider__more Читать полностью

                hr.full
                h2.title--palata Палаты
                .b-main__education.b-main__education--palata
                    .b-main__education-wrap.js-education-slider
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=palata_1 alt='')
                                .card-education__info Четырёхместная палата
                                .card-education__desc
                                    span 3 000 р.
                                    span в сутки*
                                .card-education__number 4х
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=palata_2 alt='')
                                .card-education__info Двухместная палата
                                .card-education__desc
                                    span 5 000 р.
                                    span в сутки*
                                .card-education__number 2х
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=palata_3 alt='')
                                .card-education__info Палаты Люкс
                                .card-education__desc
                                    span 7 000 р.
                                    span в сутки*
                                .card-education__number Люкс
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=palata_4 alt='')
                                .card-education__info Палаты VIP
                                .card-education__desc
                                    span 8 000 р.
                                    span в сутки*
                                .card-education__number VIP
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=palata_1 alt='')
                                .card-education__info Четырёхместная палата
                                .card-education__desc
                                    span 3 000 р.
                                    span в сутки*
                                .card-education__number 4х
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=palata_2 alt='')
                                .card-education__info Двухместная палата
                                .card-education__desc
                                    span 5 000 р.
                                    span в сутки*
                                .card-education__number 2х

                h2 Отправить заявку
                    br
                    | на бесплатный прием
                    br
                    | прямо сейчас
                .b-main__request
                    .tablets.tablets--three
                    .tablets.tablets--one
                    .tablets.tablets--two-up
                    form.b-form
                            .b-form__content
                                .b-form__item
                                    input(type='text' placeholder='Ваше имя' required)
                                .b-form__item
                                    input(type='tel' placeholder='Ваш телефон' required)
                                .b-form__item
                                    input(type='text' placeholder='Вид операции' required)
                            p Нажимая на кнопку "Отправить", вы принимаете условия
                                a(href='')  Cоглашения об использовании сайта
                            .b-form__submit
                                button Отправить













