extends _layout_with_lg_header
block title
    title Расрочка
block content

    -var headerImg = './images/installment/img_installment@2x.jpg'
    -var popup_slider = './images/services/slider-popup.jpg'
    -var orange_b = './images/installment/orange_b.png'
    -var otkitie = './images/installment/otritie.png'
    -var tinkoff = './images/installment/tinkoff.png'

    -var head = './images/services/head_color.png'
    -var headActive = './images/services/head_color.png'

    -var breast = './images/services/breast_transparent.png'
    -var breastActive = './images/services/breast_color.png'

    -var body = './images/services/body_transparent.png'
    -var bodyActive = './images/services/body_color.png'



    .b-main
        .fullpage-top.fullpage-top--installment
            .fullpage-top__img
                img(src=headerImg alt='')

            .container
                .fullpage-top__content
                    .fullpage-top__center
                        .fullpage-top__title Работаем более чем с 10 банками партнерами
                        .fullpage-top__sub-title Расрочка

        .b-main__content.b-main__content--installment
            .container
                .installment-slider
                    .installment-slider__wrap.js-bank-slider
                        .installment-slider__item
                            img(src=tinkoff alt='' height='78px')
                        .installment-slider__item
                            img(src=orange_b alt='' height='78px')
                        .installment-slider__item
                            img(src=otkitie alt='' height='78px')
                        .installment-slider__item
                            img(src=tinkoff alt='' height='78px')
                        .installment-slider__item
                            img(src=orange_b alt='' height='78px')
                        .installment-slider__item
                            img(src=otkitie alt='' height='78px')

                .installment__content
                    .installment__content-wrap
                        h3 «Доктор Профф» предоставляет беспроцентную рассрочку на пластические операции!
                        .installment__list
                            ul
                                li Оформить рассрочку можно на сумму до 700 000 рублей на срок от 3-х до 24 месяцев
                                li Первоначальный взнос не обязателен
                                li Для оформления рассрочки необходим только общегражданский паспорт гражданина
                                li Решение о предоставлении рассрочки принимается Банком за 10 минут
                                li Возможно досрочное беспроцентное погашение
                            ul
                                li На бесплатной консультации с доктором определить стоимость Вашего лечения
                                li Обратиться к администратору «Доктор Профф» для заполнения и подачи заявки
                                li Дождаться рассмотрения анкеты Банком (10 минут)
                                li При положительном решении Банка можем начать Ваше лечение в этот же день
                        .installment__btn Заявка на бесплатный звонок

                .b-main__request
                    h2 Отправить заявку
                        br
                        | на бесплатный прием
                        br
                        | прямо сейчас

                    .tablets.tablets--two-up
                    .tablets.tablets--one
                    .tablets.tablets--three
                    .tablets.tablets--two-down

                    form.b-form
                        .b-form__content
                            .b-form__item
                                input(type='text' placeholder='Ваше имя' required)
                            .b-form__item
                                input(type='tel' placeholder='Ваш телефон' required)
                            .b-form__item
                                input(type='text' placeholder='Вид операции' required)
                        p Нажимая на кнопку "Отправить", вы принимаете условия
                            a(href='')  Cоглашения об использовании сайта
                        .b-form__submit
                            button Отправить














