extends _layout_with_lg_header
block title
    title Главная страница
block content
    -var sliderFullpage = './images/main/slider/endocriniya_slider.png'
    -var person = './images/endocrina_main/endocrina_doctor.png'


    -var cardSlider1 = './images/endocrina_main/top_slider/endocrina_news-1.jpg'
    -var cardSlider2 = './images/endocrina_main/top_slider/endocrina_news-2.jpg'
    -var cardSlider3 = './images/endocrina_main/top_slider/endocrina_news-3.jpg'

    -var stepCompany1 = './images/main/step_company/1.jpg';
    -var stepCompany2 = './images/main/step_company/2.jpg';
    -var stepCompany3 = './images/main/step_company/3.jpg';
    -var stepCompany4 = './images/main/step_company/4.jpg';
    -var stepCompany5 = './images/main/step_company/5.jpg';
    -var stepCompany6 = './images/main/step_company/6.jpg';

    -var bgStep = './images/main/step_company/bg.jpg';
    -var news1 = './images/main/news/main_news-1@2x.jpg';
    -var news2 = './images/main/news/main_news-2@2x.jpg';
    -var news3 = './images/main/news/main_news-3@2x.jpg';


    -var partners1 = './images/main/partners/i-lenovo.png';
    -var partners2 = './images/main/partners/i-juniper.png';
    -var partners3 = './images/main/partners/i-xerox.png';
    -var partners4 = './images/main/partners/i-schneider.png';
    -var partners5 = './images/main/partners/i-dell.png';
    -var partners6 = './images/main/partners/i-aruba.png';
    -var partners7 = './images/main/partners/i-apc.png';

    .b-main
        .b-left-form
            .b-left-form__label Запись на бесплатный прием
            .b-left-form__wrap
                .b-left-form__title Запись на бесплатный прием
                .b-left-form__close
                form.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='tel' placeholder='Ваш телефон' required)
                    .b-form__submit
                        button Записаться на прием
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта

        .fullpage-top
            .fullpage-top__img
                img(src=sliderFullpage alt='')
            .container
                .fullpage-top__content
                    .fullpage-top__left
                        .fullpage-top__person
                            img(src=person alt='')
                    .fullpage-top__right
                        .fullpage-top__type
                            .fullpage-top__type-icon.icon-girl
                            .fullpage-top__type-text Эндокринная хирургия
                        .fullpage-top__title Профессионально, надежно и доступно
                        .fullpage-top__container
                            .fullpage-top__doctor
                                .fullpage-top__doctor-name Соловьев Николай Алексеевич
                                .fullpage-top__doctor-desc Эндокринный хирург, доктор медицинских наук, профессор, хирург высшей категории


        #scroll-more.b-main__content
            .container
                .card-slider
                    .card-slider__wrap
                        .card-slider__slider
                            .card-slider__label.card-slider__label--sale Акция
                            .card-slider__slider-wrap.js-card-slider
                                .card-slider__item
                                    .card-slider__img
                                        img(src=cardSlider1 alt='')
                                    .card-slider__title
                                        h3 Скидка на день рождения!
                                .card-slider__item
                                    .card-slider__img
                                        img(src=cardSlider1 alt='')
                                    .card-slider__title
                                        h3 Скидка на день рождения v2!

                        .card-slider__slider
                            .card-slider__label.card-slider__label--3d 3D тур
                            .card-slider__slider-wrap
                                .card-slider__item
                                    .card-slider__img
                                        img(src=cardSlider1 alt='')
                                    .card-slider__tabs
                                        a(href='http://doctorproff.ru/local/ajax/tour3d1/').card-slider__tabs-items.js-popup-youtube Операционная
                                        a(href='http://doctorproff.ru/local/ajax/tour3d2/').card-slider__tabs-items.js-popup-youtube Палаты
                                        a(href='https://www.youtube.com/embed/CY3kv0cgNPs').card-slider__tabs-items.js-popup-youtube Клиники


                        .card-slider__slider
                            .card-slider__slider-wrap.js-card-slider-v2
                                .card-slider__item
                                    .card-slider__label.card-slider__label--review Отзывы
                                    .card-slider__img
                                        img(src=cardSlider3 alt='')
                                    .card-slider__title.card-slider__title--review
                                        .card-slider__title-header
                                            p
                                                span Алеся Ш.
                                                span 23 года
                                            time 20.04.2018
                                        .card-slider__title-footer
                                            h3 Увеличение груди
                                            p Всем добрый день!!! Хочу выразить огромную благодарность доктору Шаробаро Валентину Ильичу !! Он доктор с большой буквы ...
                                    a(href='').card-slider__title-link Читать полностью

                                .card-slider__item
                                    .card-slider__label.card-slider__label--review Отзывы
                                    .card-slider__img
                                        img(src=cardSlider3 alt='')
                                    .card-slider__title.card-slider__title--review
                                        .card-slider__title-header
                                            p
                                                span Ася J.
                                                span 29 года
                                            time 20.04.2018
                                        .card-slider__title-footer
                                            h3 Увеличение груди
                                            p Всем добрый день!!! Хочу выразить огромную благодарность доктору
                                    a(href='').card-slider__title-link Читать полностью

                                .card-slider__item
                                    .card-slider__label.card-slider__label--review Отзывы
                                    .card-slider__img
                                        img(src=cardSlider3 alt='')
                                    .card-slider__title.card-slider__title--review
                                        .card-slider__title-header
                                            p
                                                span Ася J.
                                                span 29 года
                                            time 20.04.2018
                                        .card-slider__title-footer
                                            h3 Увеличение груди
                                            p Всем добрый день!!! Хочу выразить огромную благодарность доктору
                                    a(href='').card-slider__title-link Читать полностью

                                .card-slider__item
                                    .card-slider__label.card-slider__label--review Отзывы
                                    .card-slider__img
                                        img(src=cardSlider3 alt='')
                                    .card-slider__title.card-slider__title--review
                                        .card-slider__title-header
                                            p
                                                span Алеся Ш.
                                                span 23 года
                                            time 20.04.2018
                                        .card-slider__title-footer
                                            h3 Увеличение груди
                                            p Всем добрый день!!! Хочу выразить огромную благодарность доктору Шаробаро Валентину Ильичу !! Он доктор с большой буквы ...
                                    a(href='').card-slider__title-link Читать полностью

                h2 4 шага к красоте
                    br
                    | и здоровью
                .health-step
                    .health-step__bg
                    .health-step__wrap
                        .health-step__item
                            .health-step__close
                            span Шаг 1
                            p Консультация
                            .icon-hl.icon-comm
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.
                        .health-step__item
                            .health-step__close
                            span Шаг 2
                            p План лечения
                            .icon-hl.icon-plan
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.

                        .health-step__item
                            .health-step__close
                            span Шаг 3
                            p Операции
                            .icon-hl.icon-operation
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.

                        .health-step__item
                            .health-step__close
                            span Шаг 4
                            p Наблюдение
                            .icon-hl.icon-spy
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.

                .b-main__request
                    h2 Отправить заявку
                        br
                        | на бесплатный прием
                        br
                        | прямо сейчас

                    .tablets.tablets--two-up
                    .tablets.tablets--one
                    .tablets.tablets--three
                    .tablets.tablets--two-down

                    form.b-form
                        .b-form__content
                            .b-form__item
                                input(type='text' placeholder='Ваше имя' required)
                            .b-form__item
                                input(type='tel' placeholder='Ваш телефон' required)
                            .b-form__item
                                input(type='text' placeholder='Вид операции' required)
                        p Нажимая на кнопку "Отправить", вы принимаете условия
                            a(href='')  Cоглашения об использовании сайта
                        .b-form__submit
                            button Отправить
                h2 Новости и акции
                .b-main__news
                    .tablets.tablets--two-down
                    .news
                        .news__wrap.js-slider-news
                            a(href='').news__item
                                .news__img
                                    img(src=news1 alt='')
                                .news__title Пять поразительных фактов о пластической хирургии
                                .news__desc «Многим из нас кажется, что мы знаем о пластической хирургии практически всё»
                            a(href='').news__item
                                .news__img
                                    img(src=news2 alt='')
                                .news__title Интервью с врачом
                                .news__desc Какой размер груди предпочитают россиянки, европейки и американки? Почему пластическому хирургу иногда приходится отказывать пациенту в операции? Что такое липоскульптура?
                            a(href='').news__item
                                .news__img
                                    img(src=news3 alt='')
                                .news__title Скидка в день рождения!
                                .news__desc В день Вашего рождения и в течение недели после него, клиника дарит Вам скидку в размере 5% на коррекцию морщин биосовместимыми наполнителями или препаратами ботуллотоксина.

                            a(href='').news__item
                                .news__img
                                    img(src=news1 alt='')
                                .news__title Пять поразительных фактов о пластической хирургии
                                .news__desc «Многим из нас кажется, что мы знаем о пластической хирургии практически всё»
                            a(href='').news__item
                                .news__img
                                    img(src=news2 alt='')
                                .news__title Интервью с врачом
                                .news__desc Какой размер груди предпочитают россиянки, европейки и американки? Почему пластическому хирургу иногда приходится отказывать пациенту в операции? Что такое липоскульптура?
                            a(href='').news__item
                                .news__img
                                    img(src=news3 alt='')
                                .news__title Скидка в день рождения!
                                .news__desc В день Вашего рождения и в течение недели после него, клиника дарит Вам скидку в размере 5% на коррекцию морщин биосовместимыми наполнителями или препаратами ботуллотоксина.

                h2 Наши партнеры
                .b-main__partners
                    .partners
                        .partners__wrap
                            a(href='').partners__item
                                img(src=partners1  alt='')
                            a(href='').partners__item
                                img(src=partners2 alt='')
                            a(href='').partners__item
                                img(src=partners3 alt='')
                            a(href='').partners__item
                                img(src=partners4 alt='')
                            a(href='').partners__item
                                img(src=partners5 alt='')
                            a(href='').partners__item
                                img(src=partners6 alt='')
                            a(href='').partners__item
                                img(src=partners7 alt='')












