extends _layout
block title
    title Главная страница
block content
    -var sliderFullpage1 = './images/main/slider/main_slider_header@2x.jpg'
    -var sliderFullpage2 = './images/main/slider/endocriniya_slider.png'
    -var sliderFullpage3 = './images/main/slider/plasticheskay_slider.png'

    -var stepCompany1 = './images/main/step_company/1.jpg';
    -var stepCompany2 = './images/main/step_company/2.jpg';
    -var stepCompany3 = './images/main/step_company/3.jpg';
    -var stepCompany4 = './images/main/step_company/4.jpg';
    -var stepCompany5 = './images/main/step_company/5.jpg';
    -var stepCompany6 = './images/main/step_company/6.jpg';

    -var bgStep = './images/main/step_company/bg.jpg';
    -var news1 = './images/main/news/main_news-1@2x.jpg';
    -var news2 = './images/main/news/main_news-2@2x.jpg';
    -var news3 = './images/main/news/main_news-3@2x.jpg';


    -var partners1 = './images/main/partners/i-lenovo.png';
    -var partners2 = './images/main/partners/i-juniper.png';
    -var partners3 = './images/main/partners/i-xerox.png';
    -var partners4 = './images/main/partners/i-schneider.png';
    -var partners5 = './images/main/partners/i-dell.png';
    -var partners6 = './images/main/partners/i-aruba.png';
    -var partners7 = './images/main/partners/i-apc.png';

    .b-main
        .b-left-form
            .b-left-form__label Запись на бесплатный прием
            .b-left-form__wrap
                .b-left-form__title Запись на бесплатный прием
                .b-left-form__close
                form.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='tel' placeholder='Ваш телефон' required)
                    .b-form__submit
                        button Записаться на прием
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта

        .fullpage-slider
            .fullpage-slider__more Подробнее
            .fullpage-slider__wrap.js-fullpage-slider
                .fullpage-slider__item
                    .fullpage-slider__img
                        img(src=sliderFullpage1 alt='')
                    .container
                        .fullpage-slider__content
                            .fullpage-slider__title Делаем
                                br
                                | профессиональную
                                br
                                | хирургию доступной!
                            .fullpage-slider__numbers
                                .fullpage-slider__numbers-item
                                    p 1 800
                                    span операций
                                        br
                                        | в год
                                .fullpage-slider__numbers-item
                                    p 5 000
                                    span благодарных
                                        br
                                        | пациентов
                                .fullpage-slider__numbers-item
                                    p 20
                                    span лет стаж работы
                                        br
                                        | докторов
                .fullpage-slider__item
                    .fullpage-slider__img
                        img(src=sliderFullpage2 alt='')
                    .container
                        .fullpage-slider__content
                            .fullpage-slider__title Делаем
                                br
                                | профессиональную
                                br
                                | хирургию доступной!
                            .fullpage-slider__numbers
                                .fullpage-slider__numbers-item
                                    p 1 800
                                    span операций
                                        br
                                        | в год
                                .fullpage-slider__numbers-item
                                    p 5 000
                                    span благодарных
                                        br
                                        | пациентов
                                .fullpage-slider__numbers-item
                                    p 20
                                    span лет стаж работы
                                        br
                                        | докторов
                .fullpage-slider__item
                    .fullpage-slider__img
                        img(src=sliderFullpage3 alt='')
                    .container
                        .fullpage-slider__content
                            .fullpage-slider__title Делаем
                                br
                                | профессиональную
                                br
                                | хирургию доступной!
                            .fullpage-slider__numbers
                                .fullpage-slider__numbers-item
                                    p 1 800
                                    span операций
                                        br
                                        | в год
                                .fullpage-slider__numbers-item
                                    p 5 000
                                    span благодарных
                                        br
                                        | пациентов
                                .fullpage-slider__numbers-item
                                    p 20
                                    span лет стаж работы
                                        br
                                        | докторов
            .select-category
                .select-category__wrap.js-select-category-slider
                    a(href='').select-category__item
                        span.icon-girl
                        p Эндокринная
                            br
                            | хирургия
                    a(href='').select-category__item
                        span.icon-heart
                        p Сердечно-сосудистая
                            br
                            | хирургия

                    a(href='').select-category__item
                        span.icon-ears
                        p Пластическая
                            br
                            | хирургия
        #scroll-more.b-main__content
            .container
                h1 Почему Doctor Proff?
                .b-main__2-col
                    p «Доктор Профф» обеспечивает профессиональное медицинское обслуживание пациентов на базе ведущих клиник. Команда врачей «Доктор Профф» по праву является одной из лучших в России. Это специалисты со степенью «доктор медицинских наук», с большим опытом врачебной практики, признанные среди своих коллег и пациентов.
                    p Идея «Доктор Профф» не нова, однако есть одно существенное отличие – это доступность. «Доктор Профф» позволяет решить давно наболевший вопрос: «Как и где найти отличного доктора, причем срочно, да еще и за очень разумные деньги?». Все просто. теперь есть «Доктор Профф».
                .b-main__2-col-show Читать полностью
                .b-main__step-company
                    .step-company.js-step-company
                        .step-company__item
                            .step-company__bg
                                img(src=stepCompany1 alt='')
                            strong 01
                            p Наши доктора - лучшие хирурги России
                            span 01
                        .step-company__item
                            .step-company__bg
                                img(src=stepCompany2 alt='')
                            strong 02
                            p Стаж работы более 20 лет
                            span 02
                        .step-company__item
                            .step-company__bg
                                img(src=stepCompany3 alt='')
                            strong 03
                            p Все доктора со степенью “доктор медицинских наук”
                            span 03
                        .step-company__item
                            .step-company__bg
                                img(src=stepCompany4 alt='')
                            strong 04
                            p Государственная клиническая база
                            span 04
                        .step-company__item
                            .step-company__bg
                                img(src=stepCompany5 alt='')
                            strong 05
                            p Современные методики и технологии
                            span 05
                        .step-company__item
                            .step-company__bg
                                img(src=stepCompany6 alt='')
                            strong 06
                            p Расрочка 0% на любую операцию
                            span 06

                h2 4 шага к красоте
                    br
                    | и здоровью
                .health-step
                    .health-step__bg
                    .health-step__wrap
                        .health-step__item
                            .health-step__close
                            span Шаг 1
                            p Консультация
                            .icon-hl.icon-comm
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.
                        .health-step__item
                            .health-step__close
                            span Шаг 2
                            p План лечения
                            .icon-hl.icon-plan
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.

                        .health-step__item
                            .health-step__close
                            span Шаг 3
                            p Операции
                            .icon-hl.icon-operation
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.

                        .health-step__item
                            .health-step__close
                            span Шаг 4
                            p Наблюдение
                            .icon-hl.icon-spy
                            .health-step__desc проводится на базе федерального клинического центра одним из лучших пластических хирургов России.

                h2 Отправить заявку
                    br
                    | на бесплатный прием
                    br
                    | прямо сейчас
                .b-main__request
                    .tablets.tablets--three
                    .tablets.tablets--one
                    .tablets.tablets--two-up
                    form.b-form
                            .b-form__content
                                .b-form__item
                                    input(type='text' placeholder='Ваше имя' required)
                                .b-form__item
                                    input(type='tel' placeholder='Ваш телефон' required)
                                .b-form__item
                                    input(type='text' placeholder='Вид операции' required)
                            p Нажимая на кнопку "Отправить", вы принимаете условия
                                a(href='')  Cоглашения об использовании сайта
                            .b-form__submit
                                button Отправить
                h2 Новости и акции
                .b-main__news
                    .tablets.tablets--two-down
                    .news
                        .news__wrap.js-slider-news
                            a(href='').news__item
                                .news__img
                                    img(src=news1 alt='')
                                .news__title Пять поразительных фактов о пластической хирургии
                                .news__desc «Многим из нас кажется, что мы знаем о пластической хирургии практически всё»
                            a(href='').news__item
                                .news__img
                                    img(src=news2 alt='')
                                .news__title Интервью с врачом
                                .news__desc Какой размер груди предпочитают россиянки, европейки и американки? Почему пластическому хирургу иногда приходится отказывать пациенту в операции? Что такое липоскульптура?
                            a(href='').news__item
                                .news__img
                                    img(src=news3 alt='')
                                .news__title Скидка в день рождения!
                                .news__desc В день Вашего рождения и в течение недели после него, клиника дарит Вам скидку в размере 5% на коррекцию морщин биосовместимыми наполнителями или препаратами ботуллотоксина.

                            a(href='').news__item
                                .news__img
                                    img(src=news1 alt='')
                                .news__title Пять поразительных фактов о пластической хирургии
                                .news__desc «Многим из нас кажется, что мы знаем о пластической хирургии практически всё»
                            a(href='').news__item
                                .news__img
                                    img(src=news2 alt='')
                                .news__title Интервью с врачом
                                .news__desc Какой размер груди предпочитают россиянки, европейки и американки? Почему пластическому хирургу иногда приходится отказывать пациенту в операции? Что такое липоскульптура?
                            a(href='').news__item
                                .news__img
                                    img(src=news3 alt='')
                                .news__title Скидка в день рождения!
                                .news__desc В день Вашего рождения и в течение недели после него, клиника дарит Вам скидку в размере 5% на коррекцию морщин биосовместимыми наполнителями или препаратами ботуллотоксина.

                h2 Наши партнеры
                .b-main__partners
                    .partners
                        .partners__wrap
                            a(href='').partners__item
                                img(src=partners1  alt='')
                            a(href='').partners__item
                                img(src=partners2 alt='')
                            a(href='').partners__item
                                img(src=partners3 alt='')
                            a(href='').partners__item
                                img(src=partners4 alt='')
                            a(href='').partners__item
                                img(src=partners5 alt='')
                            a(href='').partners__item
                                img(src=partners6 alt='')
                            a(href='').partners__item
                                img(src=partners7 alt='')












