extends _layout_with_lg_header
block title
    title Главная страница
block content

    -var sliderFullpage = './images/plastic/doctor-header.png'
    -var person = './images/doctor/plasticha.png'
    -var vidoe_docor = './images/endocrina_doctor/doctor_video.jpg'


    -var certificates_1 = './images/endocrina_doctor/certificates_1.jpg'
    -var certificates_2 = './images/endocrina_doctor/certificates_2.jpg'
    -var certificates_3 = './images/endocrina_doctor/certificates_3.jpg'

    -var education_1 = './images/endocrina_doctor/education_1.jpg'
    -var education_2 = './images/endocrina_doctor/education_2.jpg'
    -var education_3 = './images/endocrina_doctor/education_3.jpg'

    .b-main
        .b-left-form
            .b-left-form__label Запись на бесплатный прием
            .b-left-form__wrap
                .b-left-form__title Запись на бесплатный прием
                .b-left-form__close
                form.b-form
                    .b-form__content
                        .b-form__item
                            input(type='text' placeholder='Ваше имя' required)
                        .b-form__item
                            input(type='tel' placeholder='Ваш телефон' required)
                    .b-form__submit
                        button Записаться на прием
                    p Нажимая на кнопку "Записаться на прием", вы принимаете условия
                        a(href='') Cоглашения об использовании сайта

        .fullpage-top.fullpage-top--doctor
            .fullpage-top__img
                img(src=sliderFullpage alt='')
            .container
                .fullpage-top__content
                    .fullpage-top__left
                        .fullpage-top__person
                            img(src=person alt='')
                    .fullpage-top__right
                        .fullpage-top__type
                            .fullpage-top__type-icon.icon-heart
                            .fullpage-top__type-text Сердечно-сосудистая хирургия
                        .fullpage-top__info
                            h3 Врач высшей категории, доктор медицинских наук
                            .fullpage-top__numbers
                                .fullpage-top__numbers-item
                                    p 200+
                                    span печатных
                                        br
                                        | работ
                                .fullpage-top__numbers-item
                                    p 4 200+
                                    span благодарных
                                        br
                                        | пациентов
                                .fullpage-top__numbers-item
                                    p 30+
                                    span лет стаж
                                        br
                                        | работы
                        .fullpage-top__container
                            .fullpage-top__numbers
                                .fullpage-top__numbers-wrap
                                    .fullpage-top__numbers-item
                                        p 200+
                                        span печатных
                                            br
                                            | работ
                                    .fullpage-top__numbers-item
                                        p 4 200+
                                        span благодарных
                                            br
                                            | пациентов
                                    .fullpage-top__numbers-item
                                        p 30+
                                        span лет стаж
                                            br
                                            | работы
                            .fullpage-top__doctor
                                .fullpage-top__doctor-name Чупин Андрей Валерьевич
                                .fullpage-top__doctor-desc Заведующий отделением сосудистой хирургии врач сердечно-сосудистый хирург


        #scroll-more.b-main__content.b-main__content--doctor
            .container
                h2 О докторе
                .b-main__anchor
                    .b-main__anchor-wrap
                        a(href='#section-doctor').b-main__anchor-item.js-anchor-lg Доктор
                        a(href='#section-biograf').b-main__anchor-item.js-anchor-lg Биографий
                        a(href='#section-education').b-main__anchor-item.js-anchor-lg Образование
                        a(href='#section-diplom').b-main__anchor-item.js-anchor-lg Дипломы и сертификаты
                .b-main__container
                    .share
                        .share__title Поделиться в соцсетях
                        .share__content
                            .share__item.share__item--fb
                            .share__item.share__item--vk
                            .share__item.share__item--ok

                    p#section-doctor Высшее медицинское: 1981 - 1987гг. – 2-ой МОЛГМИ им. Н.И.Пирогова, г. Москва - лечебное дело Клиническая ординатура: 1987 - 1989гг. – Институт хирургии им А.В.Вишневского, г. Москва - врач-хирург Аспирантура: 1989-1991гг. - Институт хирургии им А.В.Вишневского, г. Москва. Опыт работы: - 01.1987 – 11.2006 — Институт хирургии им. А.В.Вишневского, г. Москва (клинический ординатор; аспирант; врач сердечно-сосудистый хирург и старший научный сотрудник) - 11.2006 – по настоящее время — ФГБУ ФНКЦ ФМБА России (заведующий отделением сосудистой хирургии)
                    a(href='https://www.youtube.com/watch?v=Jll0yqdQclw').b-main__video.js-popup-youtube
                        .b-main__video-play
                        img(src=vidoe_docor alt='')
                    hr
                    h2#section-biograf Биография
                    p Является ведущим специалистом в стране в лечении пациентов с облитерирующим тромбангиитом (Болезнь Бюргера); Является разработчиком операции – артериализации венозного кровотока стопы – у пациентов с тяжелым поражением дистального артериального русла при критической ишемии – как единственной альтернативы ампутации конечности.
                    .b-main__2-col
                        p Стажировки/повышения квалификации:
                            span.list
                                span.list-item
                                    b 1991г.
                                    |  - Сертификат «сердечно-сосудистая хирургия»
                                span.list-item
                                    b 1994г.
                                    |  - Стажировка в Германии
                                    br
                                    | (клиника Шаритте, Берлин)
                                span.list-item
                                    b 2004г.
                                    |  - Стажировка в Германии
                                    br
                                    | (клиника Зютт, Нюрберг)
                                span.list-item
                                    b 2011г.
                                    | - Сертификат «эндоваскулярные диагностика и лечение»

                        p Сфера практических интересов: Лечение сосудистой мозговой недостаточности (операции на сонных и позвоночных артериях); Лечение аневризм любой локализации (включая эндоваскулярное лечение); Эндоваскулярное и гибридное лечение атеросклеротического поражения аорто-бедренно-подколенного сегмента; Лечение критической ишемии нижних конечностей (включая пациентов с диабетической стопой); Лечение запущенных форм варикозной болезни и хронической венозной недостаточности.
                    .b-main__2-col-show Читать полностью

                hr.full

                h2#section-education Образование
                .b-main__education
                    .b-main__education-wrap.js-education-slider
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=education_1 alt='')
                                .card-education__title Московская Медицинская Академия им. И.М. Сеченова
                                .card-education__number 01
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=education_2 alt='')
                                .card-education__title Курс обучения микрохирургии в отделении пластической и реконструктивной хирургии в отделе хирургии Люивельского Университета (США)
                                .card-education__number 02
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=education_3 alt='')
                                .card-education__title Аспирантура по специальности "хирургия" в Институте хирургии им. А.В. Вишневского РАМН
                                .card-education__number 03
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=education_1 alt='')
                                .card-education__title Стажировка в абдоминальном отделе Института хирургии им. А.В. Вишневского РАМН, обучение по эндоскопической хирургии
                                .card-education__number 04
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=education_2 alt='')
                                .card-education__title Курс обучения микрохирургии в отделении пластической и реконструктивной хирургии в отделе хирургии Люивельского Университета (США)
                                .card-education__number 05
                        .card-education
                            .card-education__wrap
                                .card-education__img
                                    img(src=education_3 alt='')
                                .card-education__title Аспирантура по специальности "хирургия" в Институте хирургии им. А.В. Вишневского РАМН
                                .card-education__number 06

                hr.full
                h2#section-diplom Дипломы и сертификаты
                .b-main__certificates
                    .b-main__certificates-wrap.js-certificates-slider
                        .card-certificates
                            img(src=certificates_1 alt='')
                        .card-certificates
                            img(src=certificates_2 alt='')
                        .card-certificates
                            img(src=certificates_3 alt='')
                        .card-certificates
                            img(src=certificates_1 alt='')
                        .card-certificates
                            img(src=certificates_2 alt='')
                        .card-certificates
                            img(src=certificates_3 alt='')
                        .card-certificates
                            img(src=certificates_1 alt='')
                        .card-certificates
                            img(src=certificates_2 alt='')
                        .card-certificates
                            img(src=certificates_3 alt='')

                h2 Часто задаваемые вопросы
                .b-main__question
                    .question
                        .question__row
                            .question__item
                                h3 Пять поразительных фактов о пластической хирургии
                                p Является членом Российского общества пластической, реконструктивной и эстетической хирургии (РОПРЭХ), членом комитета по этике и оценке профессиональной деятельности РОПРЭХ, Российской и Европейской Ассоциаций Эндоскопической Хирургии, Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS).

                            .question__item
                                h3 Интервью с врачом
                                p Является членом Российского общества пластической, реконструктивной и эстетической хирургии (РОПРЭХ), членом комитета по этике и оценке профессиональной деятельности РОПРЭХ, Российской и Европейской Ассоциаций Эндоскопической Хирургии, Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS).

                            .question__item
                                h3 Скидка в день рождения!
                                p Курс обучения микрохирургии в отделении пластической и реконструктивной хирургии в отделе хирургии Люивельского Университета (США)

                            .question__item
                                h3 Пять поразительных фактов о пластической хирургии
                                p Является членом Российского общества пластической, реконструктивной и эстетической хирургии (РОПРЭХ), членом комитета по этике и оценке профессиональной деятельности РОПРЭХ, Российской и Европейской Ассоциаций Эндоскопической Хирургии, Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS).
                        .question__row.hidden
                            .question__item
                                h3 Пять поразительных фактов о пластической хирургии
                                p Является членом Российского общества пластической, реконструктивной и эстетической хирургии (РОПРЭХ), членом комитета по этике и оценке профессиональной деятельности РОПРЭХ, Российской и Европейской Ассоциаций Эндоскопической Хирургии, Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS).

                            .question__item
                                h3 Интервью с врачом
                                p Является членом Российского общества пластической, реконструктивной и эстетической хирургии (РОПРЭХ), членом комитета по этике и оценке профессиональной деятельности РОПРЭХ, Российской и Европейской Ассоциаций Эндоскопической Хирургии, Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS).

                            .question__item
                                h3 Скидка в день рождения!
                                p Курс обучения микрохирургии в отделении пластической и реконструктивной хирургии в отделе хирургии Люивельского Университета (США)

                            .question__item
                                h3 Пять поразительных фактов о пластической хирургии
                                p Является членом Российского общества пластической, реконструктивной и эстетической хирургии (РОПРЭХ), членом комитета по этике и оценке профессиональной деятельности РОПРЭХ, Российской и Европейской Ассоциаций Эндоскопической Хирургии, Международной конфедерации пластической, реконструктивной и эстетической хирургии (IPRAS).



                    .question__btn
                        .btn.js-show-more Показать еще
                        .btn.btn--fill Задать вопрос доктору

                .b-main__request
                    h2 Отправить заявку
                        br
                        | на бесплатный прием
                        br
                        | прямо сейчас

                    .tablets.tablets--two-up
                    .tablets.tablets--one
                    .tablets.tablets--three
                    .tablets.tablets--two-down

                    form.b-form
                        .b-form__content
                            .b-form__item
                                input(type='text' placeholder='Ваше имя' required)
                            .b-form__item
                                input(type='tel' placeholder='Ваш телефон' required)
                            .b-form__item
                                input(type='text' placeholder='Вид операции' required)
                        p Нажимая на кнопку "Отправить", вы принимаете условия
                            a(href='')  Cоглашения об использовании сайта
                        .b-form__submit
                            button Отправить













